################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
eggs-directory=../../eggs/cache
parts = site-packages-2.4 site-packages-2.5 site-packages-2.6 site-packages-2.7
versions = versions
hooks-directory = ${buildout:directory}/hooks
[part]
url=http://downloads.sourceforge.net/project/pyqt/PyQt4/PyQt-4.10/PyQt-mac-gpl-4.10.tar.gz?r=http%3A%2F%2Fwww.riverbankcomputing.co.uk%2Fsoftware%2Fpyqt%2Fdownload&ts=1365937473&use_mirror=freefr
md5sum=e5d6710c566a8b685c0f9f455af1df31
patches-darwin=${buildout:directory}/patches/darwin.patch
configure-options=--confirm-license --verbose --no-designer-plugin 
patch-options=-Np1
patches=
# stolen from the pyqt FC rpm
#    ${buildout:directory}/patches/fix-implicit-linking.patch
    ${buildout:directory}/patches/QT_SHARED.patch
    ${buildout:directory}/patches/timestamp-multilib.patch
[versions]
[site-packages-2.4]
recipe = minitage.recipe.cmmi
noconfigure=true
url = ${part:url}
md5sum =${part:md5sum}
pre-make-hook=${buildout:hooks-directory}/h.py:h_24
configure-options=${part:configure-options}
    -d ${buildout:directory}/parts/site-packages-2.4/site-packages-2.6
    -b ${buildout:directory}/parts/site-packages-2.4/bin
    -n ${buildout:directory}/parts/site-packages-2.4/qsci
# diff between origin X11 / MAC sources
patches=${part:patches}
patch-options=${part:patch-options}
patches-darwin=${part:patches-darwin}
[site-packages-2.5]
recipe = minitage.recipe.cmmi
noconfigure=true
url = ${part:url}
md5sum =${part:md5sum}
pre-make-hook=${buildout:hooks-directory}/h.py:h_25
configure-options=${part:configure-options}
    -d ${buildout:directory}/parts/site-packages-2.5/site-packages-2.6
    -b ${buildout:directory}/parts/site-packages-2.5/bin
    -n ${buildout:directory}/parts/site-packages-2.5/qsci
# diff between origin X11 / MAC sources
patches=${part:patches}
patch-options=${part:patch-options}
patches-darwin=${part:patches-darwin}
[site-packages-2.6]
recipe = minitage.recipe.cmmi
noconfigure=true
url = ${part:url}
md5sum =${part:md5sum}
pre-make-hook=${buildout:hooks-directory}/h.py:h_26
configure-options=${part:configure-options} -u
    -d ${buildout:directory}/parts/site-packages-2.6/site-packages-2.6
    -b ${buildout:directory}/parts/site-packages-2.6/bin
    -n ${buildout:directory}/parts/site-packages-2.6/qsci
# diff between origin X11 / MAC sources
patches=${part:patches}
patch-options=${part:patch-options}
patches-darwin=${part:patches-darwin}
[site-packages-2.7]
recipe = minitage.recipe.cmmi
noconfigure=true
url = ${part:url}
md5sum =${part:md5sum}
pre-make-hook=${buildout:hooks-directory}/h.py:h_27
configure-options=${part:configure-options} -u
    -d ${buildout:directory}/parts/site-packages-2.7/site-packages-2.7
    -b ${buildout:directory}/parts/site-packages-2.7/bin
    -n ${buildout:directory}/parts/site-packages-2.7/qsci
# diff between origin X11 / MAC sources
patches=${part:patches}
patch-options=${part:patch-options}
patches-darwin=${part:patches-darwin} 
        
[p]
24=${buildout:directory}/../../dependencies/python-2.4/parts/part/bin/python
25=${buildout:directory}/../../dependencies/python-2.5/parts/part/bin/python
26=${buildout:directory}/../../dependencies/python-2.6/parts/part/bin/python
27=${buildout:directory}/../../dependencies/python-2.7/parts/part/bin/python

